@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/ptsans.woff2") format("woff2"),
	url("../fonts/ptsans.woff") format("woff");  
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/ptsansbold.woff") format("woff"),
	url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
	font-family: "PT Sans", "Arial", "Sans-serif";
	font-size: 14px;
	line-height: 26px;
	font-style: normal;
	color: black;
	min-width: 1200px;
	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	background-color: #fff;
	box-shadow: 0px 0px 5px 4px #dbdbdb;
}

.site-navigation a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.site-navigation {
	list-style: none;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;
}

.greetings {
	height: 508px;
	background-color: #5e656b;
}

.promo h2 {
	font-size: 21px;
	color: black;
	font-weight: bold;
}

.promo p {
	color: #333333;
}

.desc {
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	width: 400px;
	background-color: #82b3d2;
	padding-top: 47px;
	padding-bottom: 12px;
}

.desc h2 {
	font-size: 21px;
	line-height: 21px;
	color: white;
	text-align: center;
	width: 126px;
	margin: 0;
	margin-bottom: 24px;
	font-weight: bold;
}

.desc span {
	line-height: 21px;
	color: white;
	margin: 0;
	margin-bottom: 20px;
}

.desc p {
	line-height: 21px;
	color: white;
	margin: 0;
	width: 290px;
	text-align: center;
}

.features {
	padding-top: 56px;
	padding-bottom: 80px;
}

.features h2 {
	line-height: 21px;
	font-size: 21px;
	font-weight: bold;
	color: black;
}

.features p {
	line-height: 21px;
	color: #333333;
}

.desc-places {
	width: 400px;
	background-color: #82b3d2;
	padding-top: 46px;
	padding-bottom: 20px;
}

.desc-places h2 {
	line-height: 21px;
	font-size: 21px;
	color: white;
	font-weight: bold;
	margin: 0;
	width: 155px;
	margin-bottom: 24px;
}

.desc-places span {
	line-height: 21px;
	color: white;
	margin: 0;
	margin-bottom: 21px;
}

.desc-places p {
	line-height: 21px;
	color: white;
	margin: 0;
	width: 310px;
}

.features span {
	line-height: 21px;
	color: #333333;
}

.features h3 {
	line-height: 21px;
	color: #333333;
}

.dates h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.dates p {
	line-height: 24px;
	color: #333333;
}

.dates a {
	font-size: 21px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #766357;
	width: 568px;
	border: none;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.dates a:hover {
	background-color: #604e43;
	color: #fff;
}

.dates a:active {
	background-color: #503e33;
	color: #928a85;
}

.date-in,
.date-out,
.old,
.children {
	font-weight: bold;
}

.find {
	font-size: 21px;
	font-weight: bold;
	color: white;
}

.hashtag a {
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.social a {
	display: inline-block;
	text-decoration: none;
	background-color: #81b3d2;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.social a::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.twitter a::before {
	background: url("../img/twitter.svg") no-repeat;
	width: 17px;
	height: 15px;
}

.facebook a::before {
	background: url("../img/fb-icon.svg") no-repeat;
	width: 12px;
	height: 22px;
}

.youtube a::before {
	background: url("../img/youtube.svg") no-repeat;
	width: 20px;
	height: 16px;
}

.twitter a:hover {
	background-color: #669ec0;
}

.facebook a:hover {
	background-color: #669ec0;
}

.youtube a:hover {
	background-color: #669ec0;
}

.twitter a:active {
    background-color: #5496bd;
}

.twitter a:active::before {
	opacity: 0.3;
}

.facebook a:active::before {
	opacity: 0.3;
}

.youtube a:active::before {
	opacity: 0.3;
}

.social li {
	width: 46px;
	height: 48px;
}

.social-list {
	list-style: none;
}

input:disabled {
	color: #6a6a6a;
}

.btn-hover:hover {
	background-color: white;
	color: black;
}

.sort ul {
	list-style: none;
}

.info a {
	text-decoration: none;
}

.info a:hover {
	color: #81b3d2;
}

.info a:active {
	color: #b2b2b2;
}

.info a{
	color: black;
}

button.details {
	background-color: #81b3d2;
}

button a {
	color: white;
}

button.details:hover {
	background-color: #669ec0;
}

.details a:hover {
	color: white;
}

button.details:active {
	background-color: #5496bd;
}

.details a:active {
	color: #88b6d1;
}

button.ordering {
	background-color: #766357;
}

button.ordering:hover {
	background-color: #604e43;
}

.ordering a:hover {
	color: white;
}

button.ordering:active {
	background-color: #503e33;
}

.ordering a:active {
	color: #857871;
}

.social ul {
	list-style: none;
}

.social a {
	width: 46px;
	height: 48px;
}

.footer-logo svg:hover {
	fill: #81b3d2;
}

.footer-logo svg:active {
	fill: #bdbbbc;
}

.site-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	padding-top: 14px;
	padding-bottom: 16px;
	text-transform: uppercase;
	padding-left: 72px;
	padding-right: 72px;
}

.site-navigation li {
	width: 20%;
	text-align: left;
}

.site-navigation li:nth-child(2) {
	margin-right: 150px;
	width: 20%;
	margin-left: 30px;
}

.site-navigation li:nth-child(3) {
	text-align: right;
}

.site-navigation li:nth-child(4) {
	text-align: right;
	margin-left: 32px;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.promo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 37px;
}

.promo h2 {
	padding-top: 60px;
	margin: auto;
	padding-bottom: 16px;
	width: 450px;
	text-align: center;
	text-transform: uppercase;
}

.promo p {
	text-transform: uppercase;
	margin-top: 11px;
}

.advantages {
	display: flex;
	background-color: #81b3d2;
}

.picture img {
	height: 256px;
	width: 800px;
	background-color: #865f56;
}

.features-list {
	display: flex;
	list-style: none;
	flex-direction: row;
	padding: 0;
	margin: 0;
	vertical-align: top;
	align-items: flex-start;
}

.features-list p {
	width: 290px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.features-list li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 400px;
	vertical-align: top;
}

.features-list img {
	margin: 0;
	margin-bottom: 28px;
}

.features-list h2 {
	margin: 0;
	margin-bottom: 26px;
	text-transform: uppercase;
	width: 115px;
	text-align: center;
}

.features-list h3 {
	width: 400px;
	text-align: center;
	text-transform: uppercase;
	width: 270px;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding-top: 20px;
}

.features-li{
	line-height: 20px;
}

.feature-second ul {
	padding-bottom: 40px;
}

.features-second-list h2 {
	margin-bottom: 22px;
}

.features-second-list h3 {
	padding: 0;
}

.features-second-list span {
	margin-bottom: 20px;
}

.food {
	padding-top: 5px;
	padding-right: 2px;
}

.home {
	padding-top: 5px;
}

.places {
	display: flex;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	background-color: #81b3d2;
}

.places img {
	height: 257px;
}

.picture-places {
	line-height: 0;
}

.picture-places img {
	background-color: #ecc2ab;
}

.picture {
	height: 256px;
	max-height: 100%;
}

.desc-places {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.features-second {
	background-color: #eeeeee;
	padding-top: 47px;
	padding-bottom: 58px;
}

.dates {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.dates h2 {
	text-transform: uppercase;
	padding-top: 50px;
	margin: 0;
}

.dates p {
	margin: 0;
	padding-top: 24px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 46px;
}


.form-index {
	text-transform: uppercase;
	width: 568px;
	height: 396px;
	position: absolute;
	top: 290px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
}

.form-index-hide {
	display: none;
}

@keyframes bounce { 
	0% { 
		top: 740px; 
	}
	70% { 
		top: 290px; 
	} 
	90% { 
		top: 280px; 
	} 
	to { 
		top: 290px; 
	} 
} 

.form-index-show {
	display: block;
	animation: bounce 0.5s;
}

.date-in input[type="text"],
.date-out input[type="text"] {
	width: 346px;
	height: 38px;
	border: none;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	box-sizing: border-box;
}

.date-in {
	display: flex;
	flex-direction: row;
	margin-top: 54px;
	margin-bottom: 26px;

}

.date-in label {
	margin-right: 24px;
	line-height: 42px;
}

.date-out label {
	margin-right: 21px;
	line-height: 40px;
}

.quantity input[type="text"] {
	box-sizing: border-box;
	text-align: center;
} 

.old,
.coming-old {
	display: flex;
}

.children,
.coming-children {
	display: flex;
}

.coming-date {
	display: flex;
}

.date-out {
	display: flex;
	margin-bottom: 30px;
}

.leaving-date {
	display: flex;
}

.date-in label,
.date-out label {
	margin-left: 55px;
}

.quantity {
	margin-left: 55px;
	display: flex;
	flex-direction: row;
	margin-bottom: 53px;
}

.old label {
	margin-right: 42px;	
	line-height: 36px;
}

.children label {
	margin-left: 54px;
	margin-right: 27px;
	line-height: 36px;
}

.find-hotel input {
	width: 458px;
	height: 58px;
	border: none;
	background-color: #81b3d2;
	color: #fff;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	margin-left: 55px;
}

.find-hotel input:hover {
	background-color: #669ec0;
}

.find-hotel input:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.coming-date {
	position: relative;
}

.leaving-date {
	position: relative;
}

.coming-date input {
	padding-right: 40px;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 12px;
	font-size: 14px;
}

.leaving-date input {
	padding-right: 40px;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 12px;
	font-size: 14px;
}

.coming-date button {
	position: absolute;
	right: 4px;
	bottom: 6px;
	cursor: pointer;
	border: none;
	background: transparent;
}

.leaving-date button {
	position: absolute;
	right: 4px;
	bottom: 6px;
	cursor: pointer;
	border: none;
	background: transparent;
}

.coming-old,
.coming-children {
	position: relative;
	width: 114px;
	height: 38px;
	box-sizing: border-box;
}


.coming-old input,
.coming-children input {
	width: 38px;
	box-sizing: border-box;
	position: absolute;
	left: 38px;
	top: 0;
	height: 38px;
	border: 2px solid #f2f2f2;
	background-color: #f2f2f2;
}

.coming-old input:focus,
.coming-children input:focus {
	border: 2px solid #000000;
	box-sizing: border-box;
}

.coming-old input:focus,
.coming-children input:focus {
	outline: 2px solid #f2f2f2;
	outline: none;
}


.old-plus::before,
.children-plus::before {
	content: "";
	position: absolute;
	background: url(../img/plus-black.png) no-repeat;
	width: 11px;
	height: 11px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0.3;
}

.old-plus:hover::before,
.children-plus:hover::before {
	opacity: 1;
}

.old-minus::before,
.children-minus::before {
	content: "";
	position: absolute;
	background: url(../img/minus-black.png) no-repeat;
	width: 11px;
	height: 3px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0.3;
}

.old-minus:hover::before,
.children-minus:hover::before {
	opacity: 1;
}

.old-plus:active::after,
.children-plus:active::after {
	content: "";
	position: absolute;
	background: url(../img/plus-blue.png) no-repeat;
	width: 11px;
	height: 11px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.old-minus:active::after,
.children-minus:active::after {
	content: "";
	position: absolute;
	background: url(../img/minus-blue.png) no-repeat;
	width: 11px;
	height: 3px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.old-plus,
.children-plus {
	position: absolute;
	right: 0px;
	bottom: 0px;
	cursor: pointer;
	border: none;
	background: transparent;
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	box-sizing: border-box;
	font-size: 0;
}

.old-plus:hover,
.old-minus:hover,
.children-plus:hover,
.children-minus:hover {
	border: 2px solid #ebebeb;
	background-color: #ebebeb;
}

.old-minus,
.children-minus {
	position: absolute;
	left: 0px;
	bottom: 0px;
	cursor: pointer;
	border: none;
	background: #f2f2f2;
	border:2px solid #f2f2f2;
	width: 38px;
	height: 38px;
	box-sizing: border-box;
	font-size: 0;
}

.coming-date svg,
.leaving-date svg {
	fill: #cacaca;
}

.coming-date svg:hover,
.leaving-date svg:hover {
	fill: #000000;
}

.coming-date svg:active,
.leaving-date svg:active {
	fill: #81b3d2;
}

.leaving-day input:active {
	border: 2px solid #f2f2f2;
}

iframe {
	width: 1200px;
	height: 592px;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 72px;
}

.footer-transparent {
	margin-top: -120px;
	background-color: white;
	opacity: 0.9;
}

.hashtag {
	text-transform: uppercase;
	width: 400px;
	margin-top: 46px;
	margin-bottom: 48px;
}

.hashtag a {
	padding-left: 60px;
	padding-bottom: 50px;
}

.social {
	width: 400px;
}

.social-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	margin-top: 13px;
	margin-bottom: 13px;
}

.social-list ul {
	width: 150px;
	padding: 0;
}

.social-list li:nth-child(1) {
	padding-left: 36px;
	margin-right: 5px;
}

.social-list li:nth-child(2) {
	margin-right: 6px;
}

.visually-hidden {
	display: none;
}

.footer-logo {
	display: flex;
	flex-direction: row;
	margin: 0;
	width: 400px;
	margin-bottom: 5px;
	margin-top: 8px;
}

.footer-logo span {
	margin-left: 78px;
	margin-right: 9px;
	font-size: 14px;
	padding-top: 8px;
	text-transform: uppercase;
}

.maps {
	height: 592px;
	background: url("../img/map.jpg") no-repeat;
}

.container {
	margin: 0 auto;
}

.form-catalog {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 6px;
}

.infra {
	display: flex;
	flex-direction: column;
	padding-left: 72px;
	width: 190px;
	margin: 0;
	text-transform: uppercase;
	color: #fff;
}

.type {
	display: flex;
	flex-direction: column;
	width: 240px;
	margin-right: 178px;
	text-transform: uppercase;
	color: #fff;
}

.type h3 {
	margin: 0;
}

.value {
	display: flex;
	flex-direction: column;
	width: 318px;
	padding-right: 72px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	margin-top: 28px;
}

.price-controls {
  	position: relative;
  	height: 32px;
  	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
  	border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
  height: 30px;
}

.price-controls .max-price {
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  height: 30px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  width: 137px;
  margin-right: 96px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.value h3 {
	margin: 0;
}

.infra h3,
.type h3,
.value h3 {
	margin: 0;
	margin-top: 24px;
	margin-bottom: 23px;
}

.form-catalog input[type="checkbox"] {
	display: none;
}

.form-catalog .checkbox-label {
	padding-left: 40px;
	position: relative;
	margin-bottom: 25px;
	line-height: 21px;
}

.form-catalog .checkbox-label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 23px;
	height: 23px;
	background: url("../img/checkbox-off.svg") no-repeat;	
}

.form-catalog input[type="checkbox"]:checked+label::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 27px;
	height: 23px;
	background: url("../img/checkbox-on.svg") no-repeat;	
}

.form-catalog input[type="checkbox"]:disabled+label::after,
.form-catalog input[type="checkbox"]:disabled+label::before {
	opacity: 0.3;
}

.section-found {
	display: flex;
	flex-direction: row;
	border-bottom: solid #e5e5e5 1px;
	padding-left: 72px;
	padding-bottom: 27px;
}

.found {
	margin-right: 18px;
	width: 147px;
	text-transform: uppercase;
}

.found h2 {
	margin: 0;
	margin-top: 30px;
}

.sort {
	display: flex;
	flex-direction: row;
	text-align: center;
	text-transform: uppercase;
	margin-top: 32px;
	width: 856px;
	font-size: 10px;
}

.sort span {
	text-align: center;
	margin-right: 39px;
	font-size: 12px;
	font-weight: bold;
}

.sort-list li:nth-child(1) {
	margin-right: 32px;
}

.sort-list li:nth-child(2) {
	margin-right: 33px;
}

.sort-list li:nth-child(3) {
	margin-right: 42px;
}

.sort-list a {
	list-style: none;
	text-decoration: none;
}

.current-cost {
	color: #81b3d2;
}

.type-sort,
.rating-sort {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.type-sort:hover,
.rating-sort:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.type-sort:active,
.rating-sort:active {
	color: #000000;
	border-bottom: none;
}

.sort ul {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	width: 748px;
	font-size: 12px;
}

.order ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-right: 72px;
	margin-top: 31px;
}

.order li:nth-child(2n) {
	margin-left: 12px;
}

.icon-dir:hover path {
	fill: #231f20;
}

.icon-dir:active path,
.icon-dir.active path {
	fill: #81b3d2;
}

.rating {
	display: flex;
	flex-direction: column;
}

.rating-amara,
.rating-desert,
.rating-villas {
	margin:0;
	margin-top: 28px;
	margin-bottom: 48px;
}

.rating-amara {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90px;
	margin-left: 20px;
}

.rating-desert {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 66px;
	margin-left: 44px;
}

.rating-villas {
	margin-left: 70px;
	margin-bottom: 38px;
}

.hotels {
	display: flex;
	flex-direction: column;
}

.hotel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: solid #e5e5e5 1px;
	padding-bottom: 22px;
	padding-left: 72px;
	padding-right: 72px;
}

.photo {
	width: 135px;
	margin-top: 30px;
	margin-right: 30px;
}

.rating span {
	text-transform: uppercase;
}

.rating .rating-star {
	height: 28px;
	width: 110px;
	background-color: #f2f2f2;
	text-align: center;
}

.info {
	display: flex;
	flex-direction: column;
	width: 780px;
	text-align: left;
	margin-top: 24px;
	margin-right: 21px;
	line-height: 27px;
}

.info h1 {
	margin-top: 0;
	margin-bottom: 3px;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
}

.type-value {
	display: flex;
	flex-direction: row;
	width: 258px;
	margin-bottom: 11px;
}

.buttons {
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	padding-right: 50px;
}

.buttons .about {
	width: 110px;
	height: 27px;
	background-color: #81b3d2;
	text-align: center;
	color: #fff;
}

.buttons .about:hover {
	background-color: #669ec0;
	color: #fff;
}

.buttons .about:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.buttons .reserve {
	width: 142px;
	height: 27px;
	background-color: #766357;
	text-align: center;
	color: #fff;
}

.buttons .reserve:hover {
	background-color: #604e43;
	color: #fff;
}

.buttons .reserve:active {
	background-color: #503e33;
	color: #928a85;
}

.buttons a {
	font-size: 14px;
	font-weight: bold;
}

.type-value span {
	text-transform: uppercase;
}

.type-value span:nth-child(1) {
	width: 110px;
	margin-right: 6px;
}

.buttons a:nth-child(1) {
	margin-right: 6px;
}

.old-minus svg,
.children-minus svg {
	fill: #a9a9a9;
}

.coming-old svg:hover,
.coming-children svg:hover {
	
}


.coming-old svg:active,
.coming-children svg:active {
	
}

.coming-date input:hover,
.leaving-date input:hover,
.coming-old input:hover,
.coming-children input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb ;
}

.coming-date input:focus,
.leaving-date input:focus,
.coming-old input:focus,
.coming-children input:focus {
	background-color: #fff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.form-catalog {
	background: #343c3e url(../img/filter-background.jpg) 50% 50% no-repeat ;
}



