@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");  
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
	font-family: "PT Sans", "Arial", "Sans-serif";
	font-size: 14px;
	line-height: 26px;
	font-style: normal;
	color: black;
	min-width: 1200px;
	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	background-color: #fff;
	box-shadow: 5px 0 15px 0 #818181;
}

.site-navigation a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.site-navigation {
	list-style: none;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;
}

.promo h2 {
	font-size: 21px;
	color: black;
	font-weight: bold;
}

.promo p {
	color: #333333;
}

.desc {
	width: 400px;
	height: 400px;
	background-color: #82b3d2;
}

.desc h2 {
	font-size: 21px;
	line-height: 21px;
	color: white;
}

.desc span {
	line-height: 21px;
	color: white;
}

.desc p {
	line-height: 21px;
	color: white;
}

.features h2 {
	line-height: 21px;
	font-size: 21px;
	font-weight: bold;
	color: black;
}

.features p {
	line-height: 21px;
	color: #333333;
}

.desc-places {
	width: 400px;
	height: 400px;
	background-color: #82b3d2;
}

.desc-places h2 {
	line-height: 21px;
	font-size: 21px;
	color: white;
	font-weight: bold;
}

.desc-places span {
	line-height: 21px;
	color: white;
}

.desc-places p {
	line-height: 21px;
	color: white;
}

.features span {
	line-height: 21px;
	color: #333333;
}

.features h3 {
	line-height: 21px;
	color: #333333;
}

.dates h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.dates p {
	line-height: 24px;
	color: #333333;
}

.dates a {
	font-size: 21px;
	color: white;
	font-weight: bold;
}

.date-in,
.date-out,
.old,
.children {
	font-weight: bold;
}

.find {
	font-size: 21px;
	font-weight: bold;
	color: white;
}

.hashtag a {
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.social a {
	text-decoration: none;
}

.social-list {
	list-style: none;
}

input:disabled {
	color: 6a6a6a;
}

.main-navigation a.current {
	color: #766357;
}

.btn-hover:hover {
	background-color: white;
	color: black;
}

.sort a {
	text-decoration: none;
	color: #b2b2b2;
}

.sort a.current-cost {
	color: #81b3d2;
}


.sort ul {
	list-style: none;
}

.sort a:hover {
	color: #81b3d2;
}

.sort a:active {
	color: black;
}

.info a {
	text-decoration: none;
}

.info a:hover {
	color: #81b3d2;
}

.info a:active {
	color: #b2b2b2;
}

.info a{
	color: black;
}

button.details {
	background-color: #81b3d2;
}

button a {
	color: white;
}

button.details:hover {
	background-color: #669ec0;
}

.details a:hover {
	color: white;
}

button.details:active {
	background-color: #5496bd;
}

.details a:active {
	color: #88b6d1;
}

button.ordering {
	background-color: #766357;
}

button.ordering:hover {
	background-color: #604e43;
}

.ordering a:hover {
	color: white;
}

button.ordering:active {
	background-color: #503e33;
}

.ordering a:active {
	color: #857871;
}

.social ul {
	list-style: none;
}

.social svg {
	background-color: #81b3d2;
	color: white;
}

.social svg:hover {
	background-color: #669ec0;
}

.social svg:active {
	background-color: #5496bd;
}

.footer-logo svg {
	color: black;
}

.footer-logo svg:hover {
	color: #81b3d2;
}

.footer-logo svg:active {
	color: #bdbbbc;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-top: 19px;
	padding-bottom: 19px;
	text-transform: uppercase;
}

.main-navigation {
	position: relative;
	padding-left: 72px;
	padding-right: 72px;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.promo {
	display: flex;
	flex-direction: column;
}

.promo h2 {
	padding-top: 59px;
	margin: auto;
	padding-bottom: 39px;
	width: 450px;
}

.promo p {
	margin-left: 355px;
}

.advantages {
	padding-top: 56px;
	display: flex;
}

.desc {
	display: flex;
	flex-direction: column;
	height: 257px;
	align-items: center;
}

.desc h2 {
	padding-top: 50px;
	width: 126px;
	margin: 0;
}

.desc span {
	padding-top: 29px;
	margin: 0;
}

.desc p {
	padding-top: 32px;
	margin: 0;
	width: 260px;
}

.picture img {
	height: 257px;
	width: 800px;
}

.features-list {
	display: flex;
	list-style: none;
	flex-direction: row;
}

.features-list li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.features-list img {
	padding-bottom: 32px;
	margin: 0;
}

.features-list h2 {
	padding-bottom: 32px;
	margin: 0;
}

.places {
	display: flex;
}

.places img {
	height: 257px;
}

.desc-places {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 257px;
}

.desc-places h2 {
	padding-top: 50px;
	margin: 0;
	width: 155px;
}

.desc-places span {
	padding-top: 29px;
	margin: 0;
}

.desc-places p {
	padding-top: 32px;
	margin: 0;
	width: 310px;
}

.features-second {
	background-color: #eeeeee;
}

.dates {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dates h2 {
	text-transform: uppercase;
	padding-top: 52px;
	margin: 0;
}

.dates p {
	margin: 0;
	padding-top: 38px;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hashtag {
	text-transform: uppercase;
	padding-left:133px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
}

.social-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding-left: 257px;
	justify-content: space-between;
	width:152px;
}

.visually-hidden {
	display: none;
}

.footer-logo {
	display: flex;
	flex-direction: row;
	margin: 0;
	width: 200px;
	justify-content: space-between;
	padding-left: 230px;
}

.






